## Loading the standard libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

## Load the data

In [2]:
data = pd.read_csv('Carseats.csv')
data.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [3]:
data.shape

(400, 11)

## Observations:

1. Sales is the target variable

## Data Cleaning and Data Preprocessing

In [4]:
data.isnull().sum()

Sales          0
CompPrice      0
Income         0
Advertising    0
Population     0
Price          0
ShelveLoc      0
Age            0
Education      0
Urban          0
US             0
dtype: int64

## Feature Encoding

In [6]:
dic = {'No' : 0, 'Yes' : 1}
data[['Urban', 'US']] = data[['Urban', 'US']].replace(dic)
data.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,1,1
1,11.22,111,48,16,260,83,Good,65,10,1,1
2,10.06,113,35,10,269,80,Medium,59,12,1,1
3,7.40,117,100,4,466,97,Medium,55,14,1,1
4,4.15,141,64,3,340,128,Bad,38,13,1,0

In [7]:
data['ShelveLoc'].unique()

array(['Bad', 'Good', 'Medium'], dtype=object)

In [8]:
dic1 = {'Bad' : 0, 'Medium' : 1, 'Good' : 2}
data['ShelveLoc'] = data['ShelveLoc'].replace(dic1)
data.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,0,42,17,1,1
1,11.22,111,48,16,260,83,2,65,10,1,1
2,10.06,113,35,10,269,80,1,59,12,1,1
3,7.40,117,100,4,466,97,1,55,14,1,1
4,4.15,141,64,3,340,128,0,38,13,1,0

## Seperate X and y

In [9]:
X = data.drop('Sales', axis = 1)
y = data['Sales']

## split the data into train and test set

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

## Apply SVM on train set

In [11]:
from sklearn.svm import SVR
svr = SVR()
svr

SVR()

In [12]:
svr.fit(X_train, y_train)

SVR()

## Perform predictions

In [14]:
y_pred = svr.predict(X_test)
y_pred

array([6.76018288, 7.49202715, 7.82692838, 6.56990271, 7.9049937 ,
       7.73628255, 7.56345487, 7.18716098, 7.57942059, 6.82784278,
       7.3749852 , 6.64779657, 7.52809418, 7.93975497, 6.60319852,
       6.84140329, 7.4531205 , 7.45934602, 5.74403241, 7.19751751,
       6.91203851, 7.18016859, 7.28764329, 6.67183734, 6.86920957,
       8.17552333, 6.24634631, 6.7819599 , 7.51718458, 6.85572939,
       7.13499354, 8.35379596, 8.09607181, 8.04407931, 6.84264147,
       8.51271141, 6.97962236, 7.09731419, 6.56135025, 6.56189056,
       6.89116196, 6.95401049, 6.76887188, 8.16276394, 7.6192229 ,
       6.07258324, 6.96320543, 8.013015  , 7.93822245, 7.89720914,
       7.11023939, 7.75045309, 7.65248147, 8.46800008, 6.77994543,
       7.16299057, 7.01092929, 8.09522947, 7.15098765, 7.0216028 ,
       6.64844684, 7.61957218, 7.63121645, 6.27972725, 5.76620214,
       7.36409064, 6.82149263, 8.05417668, 7.9235537 , 6.84655596,
       7.34901957, 8.42367466, 7.30966046, 7.53596822, 7.28885417,
       7.27701533, 8.05490815, 7.57594736, 7.57694043, 7.85064447,
       6.47204319, 7.87920138, 6.03234145, 6.20016418, 7.79690077,
       8.82075798, 6.75817119, 7.16150955, 7.79286967, 7.73399271,
       6.96556576, 7.15555477, 7.59371114, 6.70217335, 8.26581154,
       7.22732406, 7.61443653, 6.72364893, 6.6405532 , 7.00443573])

In [15]:
X_test

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
132,125,87,9,232,136,2,72,10,1,1
309,131,111,13,33,80,0,68,18,1,1
341,98,120,0,268,93,1,72,10,0,0
196,130,28,6,410,133,0,72,16,1,1
246,120,56,20,266,90,0,78,18,1,1
...,...,...,...,...,...,...,...,...,...,...
146,114,83,0,412,131,0,39,14,1,0
135,96,94,14,384,120,1,36,18,0,1
390,108,75,9,61,111,1,67,12,1,1
264,128,29,5,324,159,2,31,15,1,1
364,122,21,16,488,131,2,30,14,1,1

## Evaluate

In [16]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.1499137148724471

In [17]:
from sklearn.model_selection import cross_val_score
cross_val_score(svr, X, y, cv = 10)

array([0.09714567, 0.17937258, 0.08727392, 0.19183094, 0.27433677,
       0.19661075, 0.24116772, 0.0835795 , 0.24749702, 0.18697339])