In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('Sachin_ODI.csv')
data.head()

,runs,NotOut,mins,bf,fours,sixes,sr,Inns,Opp,Ground,Date,Winner,Won,century
0,13,0,30,15,3,0,86.66,1,New Zealand,Napier,1995-02-16,New Zealand,False,False
1,37,0,75,51,3,1,72.54,2,South Africa,Hamilton,1995-02-18,South Africa,False,False
2,47,0,65,40,7,0,117.50,2,Australia,Dunedin,1995-02-22,India,True,False
3,48,0,37,30,9,1,160.00,2,Bangladesh,Sharjah,1995-04-05,India,True,False
4,4,0,13,9,1,0,44.44,2,Pakistan,Sharjah,1995-04-07,Pakistan,False,False

In [3]:
data.shape

(360, 14)

## What is the Sample Space of the data?

In [4]:
data.shape[0]

360

In [5]:
len(data)

360

## Event A : India winning the match

In [6]:
data['Won'].value_counts()

True     184
False    176
Name: Won, dtype: int64

## The sample space of Event A is 184 from the above ouput

## Probability of Event A:

In [7]:
184 / 360

0.5111111111111111

## Probability of A (compliment)

In [8]:
1 - 0.51

0.49

In [9]:
176/360

0.4888888888888889